.login-page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .backgrnd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://images.pexels.com/photos/5163448/pexels-photo-5163448.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center center / cover no-repeat;
    z-index: -1;
  }
  center h6{
    font-size: 25px;
  }
  .login1 {
    background: #FFF;
    border-radius: 2rem;
    margin-right: auto; /* Center the container by pushing it to the left */
    margin-left: 1px;
  }
  .borderbox{
    outline: none;
    border: 0;
    background:none;
    font-size: 16px;
    padding: 5px;
  }
  
  .form-login1 {
    padding-top: 7%;
  }
  
  .form-login1 label {
    font-size: 17px;
    margin-left: 20px;
    font-weight:bolder;
  }
  
  .input-email,
  .input-password {
    background: #ffffff;
    border-radius: 25px;
    margin: 5px 0 20px 15px;
    padding: 6px;
    display: flex;
    border: none;
    outline: none;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    border: none;
    background: none;
    font-size: 16px;
    outline: none;

  }
  


  button:hover {
    opacity: 0.9;
  }
 
  /* Background image for screens larger than 768px */
  @media (min-width: 769px) {
    .login-page1 {
      background-size: cover;
    }
    
    .login1 {
      background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background to the login form */
    }
    .backgrnd{
      filter: blur(2px);
      -webkit-filter: blur(2px);
    }
  }
  
  @media (max-width: 768px) {
    .login-page1 {
      background-size: cover; 
    }
 
    
    .login1 {
      width: 80%;
      padding: 20px;
      margin: 0 auto; /* Center the container for smaller screens */
      background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background to the login form */
    }
    .input-email,
    .input-password {
      margin: 6px 0;
    }
    
    button {
      margin-top: 20px;
    }
  }
  .icon{
  margin-inline: 2px;
  margin-block:-5px ;
  }