/* Orange */

.cart-enclosure{
    display: flex; 
    gap: 2rem;
}
.flex_row{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90px;
    height: 90px;
}
.cart-content{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}
.cart1-enclosure{
    display: flex;
    gap: 2rem;
}
.cart-maincontainer{
    margin: 2%;
    margin-left: 10%;
}
.button-cart{
    display: flex;
    gap: 2rem;
    float: right;
    width: 30%;
    margin-right: 11%;
    margin-block: -4%;
}
.btncart1{
    font-size: large;
    width: 100%;
    padding: 2.5%;
    border-radius: 9px;
}
.fresho1{
    font-size: 20px;
    color: rgb(167, 167, 167);
}
.name{
    font-size: 20px;
    font-weight: bolder;
}
.mrp{
    font-weight: bolder;
    font-size: medium;
    text-decoration: line-through;
    color: rgb(165, 165, 165);
}
.price{
    font-weight: bolder;
    font-size: 20px;
}
.save{
    color: green;
    font-weight: bold;
}
b{
    font-size: 18px;
    margin-block: -10%;
    color: rgb(85, 84, 84);
    font-weight: bolder;
}
.cart-icons{
    display: flex;
    gap: 5rem;
    color: rgb(89, 89, 89);
}
.cart-icons-content{
    display: flex;
    gap: 1rem;

}
.cart-header{
    font-weight: normal;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    border-bottom:solid;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(189, 187, 187);
    

}
.cart-header a{
    color: black;
}
.cart-header a:hover{
font-weight: bolder;
}
.avail{
    font-size: large;
    margin-top: 7%;
    font-weight:bold;
}
.error-message {
    font-size: 16px;
    margin-top: 8px;
  }
  
  .error-message-green {
    color: green;
  }
  
  .error-message-red {
    color: red;
  }
.pincode{
    border-bottom: 2px solid rgb(82, 82, 82); /* Adjust the color and thickness as needed */
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
      /* Hide the spinner in Chrome, Safari, and Edge */
  -moz-appearance: textfield;
  appearance: textfield;
  
  /* Hide the increment and decrement buttons in Webkit browsers */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide the increment and decrement buttons in Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}
hr{
    margin-top: 2%;
    margin-right: 9%;
    margin-left: -2%;
}
.why{
    width: 90%;
    color: black;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}
.whyagro{
    font-weight: 900;
    font-size: 21px;
    margin-left: 38%;
}
.why1-icons{
    background-color: rgb(248, 248, 248);

    padding: 3%;
    font-weight: bolder;
    font-size: large;
}
.over-night{
    margin-left: 25%;
    margin-top: 6%;
    color: grey;
    font-size: large;
}



.faq-heading {
  font-family: Lato;   
  font-weight: 400;
  font-size: 19px;
  transition: none;
   -webkit-transition: text-indent 0.2s;
  text-indent: 20px;
  color:black;
}
.faq-text {
    padding-top: 15px;
  font-family: Lato;   
  font-weight: 400;
  font-size: 19px; 
  font-weight: 400;
  color: #0905059f;
  width:95%;
  padding-left:20px;
  list-style-type:disc;
}
.cart-about{
    font-weight: bolder;
    font-size: larger;
}
.faq {
  width: 80%;
  margin: 1 auto;
  margin-top: 1%;
  background:transparent;
  border-radius: 4px;
  position: relative;
  border: 1px solid #E1E1E1;
}
.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 90px;
  padding-top:10px;

  border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  width: 5px;
  height: 5px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  transition-timing-function: inherit;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgb(22, 22, 22);
  border-right: 2px solid rgb(0, 0, 0);
  float: right;
  position: relative;
  top: -15px;
  right: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

 .faq input[type="checkbox"]:checked + label > .faq-arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  transition-timing-function: inherit;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
 .faq input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(255,255,255,255) !important;
  color: #4f7351;
  height: 225px;
  transition: height 0.8s;
  transition-timing-function: inherit;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

 .faq input[type='checkbox']:not(:checked) + label {
  display: block;
  transition: height 0.8s;
  height: 60px;
  transition-timing-function: inherit;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 24px;
}