*{

    text-decoration: none;
}
.footer-container{
    margin-top: 20px;
    border: 1px solid black;
    
}
.footer-enclosure{
    background-color: rgb(49, 48, 48);
    color:white;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.footer-social_links a {
    color: rgb(221, 212, 212);
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}
.footer-social_links h4{
    font-weight: 100;
    padding-top: 3px;
    color:rgb(221, 212, 212);
}
.sociallinks{
    margin-top: 1%;
    margin-bottom: 3px;
}
.social_linkss{
    margin-top: 6px;
}
.contactus{
    margin-top: 2%;
    margin-bottom: 2px;
}
.headercontact{
    margin-top: 5px;
    margin-bottom: 3px;
}
.footer-links {
    text-decoration: none;
    padding:3px 50px 4px 50px;
    background-color: rgb(61, 53, 53);
    display: flex;
    justify-content: space-between;
   
}
.footer-copyright{
    font-size: small;
    height: 4%;
    margin-left: 45%;
    margin-bottom: 1px;
}
.line1{
    border-left: 1px solid rgb(161, 161, 161);
    height: 14px;
    left: 50%;
    top: 0;
  }